pkgbase = mypy
	pkgdesc = Optional static typing for Python 2 and 3 (PEP484)
	pkgver = 1.10.0
	pkgrel = 1
	url = http://www.mypy-lang.org/
	arch = any
	license = MIT
	checkdepends = python-attrs
	checkdepends = python-psutil
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-mypy_extensions
	depends = python-typing_extensions
	optdepends = python-lxml: for reports
	optdepends = python-pip: for installing missing types
	optdepends = python-psutil: for dmypy
	optdepends = python-setuptools: for mypyc
	source = mypy-1.10.0.tar.gz::https://github.com/python/mypy/archive/refs/tags/v1.10.0.tar.gz
	sha256sums = 5550f427e9492de27e734ed182f9418f41bc632863b47470c6aab56420a0e661

pkgname = mypy
