pkgbase = mypy
	pkgdesc = Optional static typing for Python 2 and 3 (PEP484)
	pkgver = 1.7.1
	pkgrel = 1
	url = http://www.mypy-lang.org/
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-six
	checkdepends = python-attrs
	checkdepends = python-pytest-xdist
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-psutil
	depends = python-mypy_extensions
	depends = python-typing_extensions
	depends = python-tomli
	optdepends = python-lxml: for reports
	optdepends = python-pip: for installing missing types
	source = mypy-1.7.1.tar.gz::https://pypi.org/packages/source/m/mypy/mypy-1.7.1.tar.gz
	sha256sums = fcb6d9afb1b6208b4c712af0dafdc650f518836065df0d4fb1d800f5d6773db2

pkgname = mypy
